@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Padaria Beludo</h1>
    <p>
        <a href="/Cliente/Index" class="btn btn-primary">Clique aqui para cadastrar clientes</a>
    </p>
    <div>
        <a href="/Venda/Index" class="btn btn-success">Cadastrar Venda</a>
        <a href="/Produto/Index" class="btn btn-info">Cadastrar Produto</a>
    </div>
</div>